* {
  font-family: "JetBrains Mono Nerd Font";
  /*font-family: "JetBrainsMono Nerd Font";*/
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: rgb(9, 9, 11);
  /*  border-radius: 15px; */
  /*  border: 2px solid #124323; */
  /* border: 0px solid #A1BDCE; */
}

.modules-left {
  padding: 0 7px;
  margin: 5px 0 5px 5px;
}
.modules-center {
  padding: 0 7px;
  margin: 5px 0 5px 0;
}
.modules-right {
  padding: 0 7px;
  margin: 5px 5px 5px 0;
}

tooltip {
  background: rgb(9, 9, 11);
  color: rgb(250, 250, 250);
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid rgb(39, 39, 42);
}

#window {
  color: rgb(250, 250, 250);
}

#workspaces {
  color: rgb(250, 250, 250);
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding: 0;
}

#workspaces button {
  color: rgb(250, 250, 250);
  background-color: transparent; /* <-- FIX hover white */
  box-shadow: none;
  text-shadow: none;
  border-radius: 6px;
  transition: 0.2s ease;
  padding: 0 6px; /* horizontal spacing */
  margin: 0;
  min-height: 0; /* <-- vertical centering fix */
}

#workspaces button.active {
  color: rgb(20, 71, 230);
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.08); /* subtle hover */
}

#clock {
  color: rgb(250, 250, 250);
  font-size: 15px;
  font-weight: 900;
  margin: 3px 0px 0px 0px;
  padding: 0 10px;
  border: none;
}

#network {
  color: rgb(250, 250, 250);
  font-weight: normal;
  font-size: 15px;
  padding: 0 7px;
}
#battery {
  font-weight: normal;
  font-size: 15px;
  color: rgb(100, 255, 103);
  opacity: 1;
  padding: 0 7px;
}
#battery.charging,
#battery.plugged {
  color: rgb(250, 250, 250);
}
#battery.critical:not(.charging) {
  color: rgb(255, 100, 103);
}

#pulseaudio {
  font-weight: normal;
  font-size: 18px;
  color: rgb(20, 71, 230);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 3px;
  padding-right: 3px;
}
