* {
  font-family: "JetBrains Mono Nerd Font";
  /*font-family: "JetBrainsMono Nerd Font";*/
  font-weight: bold;
  font-size: 15px;
}

window#waybar {
  background: #0f0f17;
  /*  border-radius: 15px; */
  /*  border: 2px solid #124323; */
  /* border: 0px solid #A1BDCE; */
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

tooltip {
  background: #171717;
  color: #a1bdce;
  font-size: 13px;
  border-radius: 7px;
  border: 2px solid #101a24;
}

#workspaces {
  background: rgba(23, 23, 23, 0);
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
}

#workspaces button {
  background: rgba(23, 23, 23, 0);
  color: #a1bdce;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  /*   animation: ws_normal 20s ease-in-out 1; */
}

#workspaces button.active {
  /* background-image: url("/home/anik/Documents/bar1.png");*/
  color: #72d792;
  transition: all 0.3s ease;
  padding-left: 4px;
  padding-right: 4px;
  /*  transition: all 0.4s cubic-bezier(.55,0.68,.48,1.682); */
}

#clock {
  color: #a1bdce;
  font-size: 15px;
  font-weight: 900;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 3px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
#bluetooth {
  color: #e6e7e7;
  background: #161320;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding: 0 4px;
}
#cpu {
  font-weight: normal;
  font-size: 22px;
  color: #915caf;
  padding: 0 4px;
}
#memory {
  font-weight: normal;
  font-size: 22px;
  color: #e4c9af;
  padding: 0 4px;
}
#network {
  color: #a1bdce;
  font-weight: normal;
  font-size: 19px;
  padding: 0 4px;
}
#battery {
  font-weight: normal;
  font-size: 19px;
  color: #a6d189;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  padding: 0 4px;
}
#battery.charging,
#battery.plugged {
  color: #e8edf0;
}
#battery.critical:not(.charging) {
  color: red;
}

#pulseaudio {
  font-weight: normal;
  font-size: 18px;
  color: #6f8fdb;
  background: rgba(22, 19, 32, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 3px;
  padding-right: 3px;
}

#custom-spacer {
  opacity: 0;
}
#custom-smallspacer {
  opacity: 0;
}
